<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css"> 
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/CV/cv.pdf">CV</a></li>
	        		<li><a href="/blog">Blog (news)</a></li>
	    		</ul>
			</nav>
				
			<div class="menue">
				<img style="float: right;" src="/photo/fatemehNL_2.JPG" width="30%" height="30%" hspace="40">
			</div>
			
			<div class="maincontent">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<footer>
	    		<ul>
	        		<li><a href="mailto:fatorabi@indiana.edu" target="_blank">email</a></li>
	        		<li><a href="https://github.com/ftasr" target="_blank">github</a></li>
					<li><a href="https://www.linkedin.com/in/fa-t-asr" target="_blank">linkedin</a></li>
					<li><a href="https://scholar.google.com/citations?user=ynLYeCMAAAAJ&hl=en" target="_blank">scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
  
